<div class="wrapper">
    <div class="container">
        <h1> WePetz Blog <span style="margin: 15px;"><i class="fas fa-paw"></i></span></h1>
        <p> Edite esse artigo </p>
    </div>
        <%= render "form" %>
    </div>
</div>
