<div class="navbar-wagon">
    <!-- Logo -->
    <i class="fas fa-paw", style="font-size: 50px;"></i>
    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
        <a href="" class="navbar-wagon-item navbar-wagon-link">Veterinarios</a>
        <a href="" class="navbar-wagon-item navbar-wagon-link">Dicas</a>
        <a href="" class="navbar-wagon-item navbar-wagon-link">Artigos</a>
        <a href="" class="navbar-wagon-item navbar-wagon-link">Animais</a>
        <a href="" class="navbar-wagon-item navbar-wagon-link">Produtos</a>
        <div class="empty-form">
            <form action="#">
                <input type="text" placeholder="Search">
                <input type="submit" value="Submit">
            </form>
        </div>
        <!-- Profile picture with dropdown list -->
        <div class="navbar-wagon-item">
            <div class="dropdown">
                <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
            <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li><a href="#">Veterinarios</a></li>
                <li><a href="#">Dicas</a></li>
                <li><a href="#">Artigos</a></li>
                <li><a href="#">Animais</a></li>
                <li><a href="#">Produtos</a></li>
            </ul>
        </div>
    </div>
</div>

    <div class="wrapperblue text-center">
        <div class="containerblue text-center">
                <ul class="name list-inline">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                </ul>
        </div>
    </div>
