<div class="navbar">
    <!-- Logo -->
    <div id="linkgeral">
    <%= link_to '<i class="fas fa-paw", style="font-size: 50px"> </i>'.html_safe, articles_path %> </div>
    <h1> Wepetz Blog </h1>


    <!-- Right Navigation -->
    <div class="navbar-right hidden-xs hidden-sm">
        <a href="" class="navbar-item navbar-link">Veterinários</a>
        <a href="" class="navbar-item navbar-link">Dicas</a>
        <a href="" class="navbar-item navbar-link">Artigos</a>
        <a href="" class="navbar-item navbar-link">Animais</a>
        <a href="" class="navbar-item navbar-link">Produtos</a>
        <div class="empty-form">
            <form action="#">
                <input type="text" placeholder="Tudo sobre pets" style="max-width: 300px; max-height: 30px;">
                <input type="submit", class= "btn-submit btn-xs", style="background-color: rgba(255,255,102, 0.8); margin: rgba(255,255,102, 0.8)" value="Procurar">
            </form>
        </div>
        <!-- Profile picture with dropdown list -->
        <div class="navbar-item">
            <div class="dropdown">
                <img src="https://kitt.lewagon.com/placeholder/users/pedrofcezar" class="avatar dropdown-toggle" id="navbar-menu" data-toggle="dropdown">
                <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-item hidden-md hidden-lg">
        <div class="dropdown">
            <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
                <li><a href="#">Veterinarios</a></li>
                <li><a href="#">Dicas</a></li>
                <li><a href="#">Artigos</a></li>
                <li><a href="#">Animais</a></li>
                <li><a href="#">Produtos</a></li>
            </ul>
        </div>
    </div>
</div>



