  .card {
    position: relative;
    border-style: solid;
    border-color: pink;
    max-width:  400px;
    max-height: 160px;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    .card-header {
      border-bottom-style: dotted;
      border-bottom-color: orange;
      font-size: 24px;
      h4{
        :hover{
          color: black;
          text-decoration: none;
        }
      }
    }
    .card-body {
      border-bottom-style: solid;
      border-bottom-color: green;
      h5{
        font-size: 16px;
      }
      p{
        font-size: 12px;
      }
      }
      .card-footer {
        color: gray;
        font-size: 24px;
      }
    }
