/* _body.scss contains attributes (padding/margin) related to footer*/



.footer {
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.6), 0px 0px 0px 0px rgba(0, 0, 0, 0);
  position: -1px absolute;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px !important;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  bottom: 0;
  border-bottom: -1;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $specialfontscolor;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: $specialfontscolor;
}

.footer-copyright p {
  margin: 0;
  color: $specialfontscolor;
  font-size: 62%;
    opacity: 0.75;
}

.footer-copyright {
  display: block;
}


#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}
