.wrapper {
  padding: 8px;
  margin: 8px;
  h1{
    font-size: 40px;
    font-family: 'Spicy Rice', cursive;
    i{
      color: gray;
    }
  }
.flex {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .card {
    position: relative;
    border-style: solid;
    border-color: pink;
    max-width:  400px;
    max-height: 160px;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    .card-header {
      border-bottom-style: dotted;
      border-bottom-color: orange;
      font-size: 24px;
      h4{
        :hover{
          text-decoration: none;
        }
      }
    }
    .card-body {
      border-bottom-style: solid;
      border-bottom-color: green;
      h5{
        font-size: 16px;
      }
      p{
        font-size: 12px;
      }
      }
      .card-footer {
        color: gray;
        font-size: 24px;
      }
    }
  }
}

.title {
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
}
.content {
  text-align: justify;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
