
// application layout

.wrapper {
  padding: 8px;
  margin: 8px;
  text-decoration: none;
  height: 100vh;
  background: write;
  h1{
    font-size: 50px;
    font-family: 'Spicy Rice', cursive;
    i{
      color: $specialfontscolor;
    }
  }

// index

.flex {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
}

.title {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}
.content {
  text-align: justify;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
.author {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}
.keys{
  p {
  font-size: 12px;
   }
   font-size: 36px;
}


// show

